:root {
    --primary: #f5eff5;
    --secondary: #cf36b6;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: var(--primary);
    font-family: 'Times New Roman', Times, serif;
}


header {
    font-weight: lighter;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 8%;
    position: relative;
    /* Make sticky */
}

.high-scores {
    text-decoration: none;
    border: none;
    font-size: 18px;
}


.high-scores:hover {
    color: var(--secondary);
    /* add pointer */
}

.timer {
    margin-right: 20px;
    font-size: 18px;
}

.timer span {
    position: absolute;
    right: 0.7rem;
    font-size: 18px;
}
main {
    margin-bottom: 10px;
}

.heading >* {
    text-align: center;
    margin: 30px;
    display: flex;
    justify-content: center;
}

.question {
    max-width: 5vw;
}

.button-box {
    display: grid;
    grid-template-rows: 1fr;
}


.btn {
    outline: none;
    border: none;
    padding: 3px 15px;
    background: var(--secondary);
    font-size: .9rem;
    border-radius: 4px;
    top: -3px;
    box-shadow: 0 3px gray;
    transition: transform 1s;
    text-align: left;
    color: black;
    font-weight: bolder;
    height: 35px;
}

.btn:hover {
    background-color: rgb(175, 112, 233);
}

.start-bt {
    text-align: center;
}

.answer-bt {
    margin: 10px;
    min-width: 175px;
} 

.btn:active {
    transform: scale(.98);
}

.btn:hover {
    box-shadow: 0 3px white;
}

.textarea {
    outline: none;
    padding: 12px;
    width: 150px;
    height: 50px;
    font-size: 2.2rem;
    border: 2px solid var(--secondary);
    border-radius: 12px;
    display: inline-block;
    margin-right: 20px;
}

.score-list {
    margin: 2vh 26vw;
    color: black;
    display: grid;
    font-size: 1.6rem;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.score-list .title {
    font-size: 1.5rem;
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;    
}

.score-list>p {
    padding: 15px;
}

.score-buttons {
    margin: auto;
    display: flex;
    justify-content: center;
}
.score-buttons > .btn {
    margin: 15px;
    min-width: 20vw;
    text-align: center;
}

footer {
    border-top: solid 3px gray;
    width: auto;
    margin: 0 10vw 10vh 10vw;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    position: relative;
}



footer .correct, footer .wrong {
    position: absolute;
    right: 45%;
    color: rgba(176, 176, 176, .9);
}

@media screen and (max-width: 700px) {
   .heading {
       font-size: 15px;
   }
   .heading p {
       font-size: 12px;
   }   
}

