:root {
    --primary: #ffccff;
    --secondary: #497980;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: var(--primary);
    font-family: 'Times New Roman', Times, serif;
}


header {
    font-weight: lighter;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 8%;
    position: relative;
    /* Make sticky */
}

.high-scores {
    text-decoration: none;
    border: none;
}


.high-scores:hover {
    color: var(--secondary);
    /* add pointer */
}

.timer {
    margin-right: 20px;
}

.timer span {
    position: absolute;
    right: 0.7rem;
}
main {
    margin-bottom: 10px;
}

.heading >* {
    text-align: center;
    margin: 30px;
    display: flex;
    justify-content: center;
}

.question {
    max-width: 5vw;
}

.button-box {
    display: grid;
    grid-template-rows: 1fr;
}


.btn {
    outline: none;
    border: none;
    padding: 10px 15px;
    background: var(--secondary);
    font-size: .9rem;
    border-radius: 12px;
    top: -3px;
    box-shadow: 0 3px gray;
    transition: transform 1s;
    text-align: left;
}

.start-bt {
    text-align: center;
}

.answer-bt {
    margin: 10px;
    min-width: 200px;

} 

.btn:active {
    transform: scale(.98);
}

.btn:hover {
    box-shadow: 0 3px white;
}

.score form input {
    outline: none;
    padding: 12px;
    width: 50%;
    font-size: 2.2rem;
    border: 2px solid var(--secondary);
    border-radius: 12px;
    display: inline-block;
    margin-right: 20px;
      
}

.score-list {
    margin: auto;
    color: black;
    display: grid;
    grid-template-columns: 10% 10%;
    text-align: center;
    border: 3px soid grey;
}

.score-list>p {
    padding: 15px;
    background-color: var(white
    );
}

.score-buttons {
    margin-top: 25px;
    display: flex;
    margin: auto;
}
.score-buttons > * {
    margin-right: 15px;
    min-width: 8vw;
}

footer {
    border-top: solid 3px gray;
    width: auto;
    margin: 0 10vw 10vh 10vw;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    position: relative;
}



footer > * {
    position: absolute;
    right: 45%;
    color: rgba(176, 176, 176, .9);
}

